.textdis {
    text-decoration: none !important;
}

.cursor {
    cursor: point !important;
}

.linknav {
    display: block !important;
    text-decoration: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    transition-property: color, background-color, border-color;
    transition-duration: 0.15s, 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
    transition-delay: 0s, 0s, 0s;
    color: rgba(255, 255, 255, 0.55);
}

.linknav:hover {
    color: rgba(255, 255, 255, 0.75);
}

.linknav:active {
    color: #fff;
}

